@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1d23;
}
.card {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  background-color: #202028;
  color: #9e9ea4;
}

.card-primary {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background-color: #b2f142;
  color: black;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}
